:root {
    --light-color: #fff;
    --black-color: #000;
    --dark-color: #051a60;
    /* --navbar-color: #d3d2d2e1; */
    --button-color: #242a6ff6;
    --blue-color: #0c8dd2;
    --button-hover-color: #196a85;
    --green-color:#68a984;
    --nav-textcolor: var(--dark-color);
    --primary-fontcolor: #023c51;
    --secondary-fontcolor: #666;
    --soft-light-background: #f5f5f5;
    --video-src :'https://videos.pexels.com/video-files/854752/854752-hd_1280_720_30fps.mp4';
}

.services{
    width: 100%;
}

*{
    text-align: justify;
    text-justify: inter-word;
    list-style: none;
    text-decoration: none;
}

body.dark-mode {
    --light-color: #121212;
    --black-color: #454545;
    --dark-color: #272727;
    /* --navbar-color: #1f1f1f; */
    --button-color: #444;
    --blue-color: #1e90ff;
    --button-hover-color: #555;
    --nav-textcolor: var(--light-color);
    --primary-fontcolor: #f1f1f1;
    --secondary-fontcolor: #aaa;
    --soft-light-background: #1e1e1e;
    --video-src : 'https://videos.pexels.com/video-files/854752/854752-hd_1280_720_30fps.mp4';
}

/* Base styles */
* {
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
    transition-duration: 5s;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--soft-light-background);
    color: var(--primary-fontcolor);
    overflow-x:hidden;
}

body.dark-mode {
    background-color: var(--black-color);
    color: var(--primary-fontcolor);
}

body.dark-mode p,
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: var(--primary-fontcolor);
}


body.dark-mode .card {
    background-color: var(--black-color);
    color: var(--primary-fontcolor);
}

body.dark-mode .card:hover {
    background-color: var(--button-hover-color);
    color: white;
}

body.dark-mode section,
body.dark-mode,
body.dark-mode,
body.dark-mode,
#contact a.dark-mode {
    color: var(--primary-fontcolor);
    background-color: var(--soft-light-background);
    outline: none;
    border: none;
}

iframe{
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#navbar {
    background-color: transparent;
    box-shadow: 0 2px 4px #0000001a;
    color: #d1d2d3;
    padding-inline: 70px;
    position: relative;
    height: auto;
}

nav, #navbar, body.dark-mode #navbar  {
 background-color: transparent;
}

#navbar a {
    color: #d1d2d3;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: var(--black-color);

    font-size: 12px;
    transition: text-decoration 0.3s ease;
}

.nav-link.dark-mode, body.dark-mode .nav-link {
    color: var(--green-color);
   
}


.nav-link:hover {
    color: var(--button-hover-color);
    text-decoration: underline;
}

.navbar-toggler {
    background-color: #f8f9fa;
    border-color: #d1d2d3;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Section styles */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.9rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--soft-light-background);
}

.section-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-fontcolor);
    text-align: center;
}

.section-content {
    color: var(--secondary-fontcolor);
}

/* Projects grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
}

.image-container {
    position: relative;
    width: auto;
    height: 35%;
    border-radius: 50%;
    padding-bottom: 60%;
}

.image-overlay {
    margin-top: 55px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to right,
        transparent,
        rgba(0, 0, 0, 0.5)
    );
}

.profile-img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-top: -55px;
}

@media (max-width: 768px) {
    .profile-img {
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }
}




@media (max-width: 768px) {
    .img-thumbnail {
        max-width: 100%;
        max-height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
}


.project-info {
    margin-top: 10px;
}

/* Buttons */
.button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--button-hover-color);
}

/* Footer */
#footer {
    background-color: #333;
    color: #f8f9fa;
    text-align: left ;
    padding: 10px;
    margin-top: 50px;
    width: 100%;

}

.accent-color {
    color: #d99671;
    font-weight: bold;
}

/* Hero section */
#hero {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
    height: 80vh;
}

#hero video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(50%);
}

#hero video source {
    src: var(--video-src);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;
    color: #023c51;
}


.t-area {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    margin-right: 400px;
    z-index: 2;
}

.t-area h1 {
    font-size: 3.5em;
    width: 500px;
    margin-bottom: 20px;
    color: var(--light-color);
    font-family: 'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
}

.t-area p {
    font-size: 1.2em;
    color: var(--dark-color);
    margin-bottom: 30px;
}

.t-area button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}



.tab-pane{
    height: auto;
    max-width: 1000px;
    margin-top: 40px;
    margin-bottom: 100px;
}


    /* Overlay styling */
    .card .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with transparency */
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease; /* Smooth transition for the overlay */
    }

    /* Show overlay on hover */
    .card:hover .overlay {
        opacity: 1;
    }

    /* Title styling */
    .card .overlay h2 {
        margin: 0;
        font-size: 1.5rem;
    }

    /* Description styling */
    .card .overlay p {
        margin: 0.5rem 0 0;
        font-size: 1rem;
    }


    
    /* Container for the projects section */
    #projects .container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    /* Style for each card */
    .card {
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        flex: 1 1 calc(25% - 1rem); /* Adjusting flex basis to 25% minus the gap */
        min-width: 200px; /* Ensuring a minimum width for smaller screens */
    }

    /* Ensuring the image fills the card */
    .card .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }




.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay, .hero-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 53, 0.304);
    color: white;
 

}

.overlay h2 {
    margin: 0;
    font-size: 18px;
}

.overlay p {
    margin: 10px 0 0;
    font-size: 14px;
}


.footer {
    background-color: var(--black-color);
    color: var(--light-color);
}

.footer .footer-link {
    color: var(--light-color);
    text-decoration: none;
    transition: color 0.3s;
}

.footer .footer-link:hover {
    color: var(--blue-color);
}

.footer i {
    margin-right: 8px;
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

/* THIS IS THE ANIMATION SECTION  */


.slide-in-fwd-center, h1, img {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2024-6-13 6:33:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-fwd-center
 * ----------------------------------------
 */
 @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
              transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  
